h1 {
	color: black;
	font font-size:70px;
	text-align: center;
}
body {
	background-image: url("../images/Energy2.jpg");
	/*background-repeat: repeat;*/
	background-size: 100%;
	background-color: rgb(50,50,50);
}

div {
	border-width: 2px;
	border-style: solid;
	text-align: left;
	margin: 10px;
	padding: 5px;
}

.with_yellow {
	background-color: white;
}